---
title: We call this a 404 error.
layout: layouts/base.njk
permalink: /error-404/
eleventyExcludeFromCollections: true
---
<section class="greeting">
<h1>This is what we call this a 404 error.</h1>
<article>
<p>It seems the content you were looking has gone missing, moved, or was deleted. Sorry about that.</p>
</article>
{% include "components/form.njk" %}
</section>