---
title: Career Highlights / Joel G Goodman
layout: layouts/base.njk
section: highlights
permalink: /highlights/
---
  {% set cover = "IMG_3516_brfnq4.jpg" %}
  <figure class="post-cover">
    <img
      sizes="(max-width: 1720px) 100vw, 1720px"
      srcset="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_300'}}/{{ cover }} 380w,
      {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_400'}}/{{ cover }} 480w,
      {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_800'}}/{{ cover }} 860w"
      src="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_150,e_blur:800'}}/{{ cover }}"
      alt="My face replicated 3 times on top of each other. There are also big leaves around me."
      decoding="async"
      loading="eager" width="450" height="290" />
  </figure>
  <article>
    <header>
      <h1 class="super">Career Highlights</h1>
      <p>Before founding <a href="https://bravery.co">Bravery Media</a> in 2012, I worked in web and digital strategy roles at two universities. My career has run the marketing gamut from content strategy and social media to web design and campaign management. Those foundational experiences built my higher ed network, bolstered my reputation for impeccable quality, and continue to help me propel higher education toward its potential through Bravery.</p>
    </header>
    <section id="national-university">
      <h2>National University (2018)</h2>
      <p>I redesigned the university’s website with conversion rate optimization as the focus. There’s a whole <a href="https://bravery.co/insight/higher-ed-website-redesign-small-team/">case study</a> on this project over on the Bravery site. Baseline though:</p>
      <ul>
        <li>128% conversion rate increase year-over-year</li>
        <li>$8-10 million in new first-year revenue</li>
        <li>Work paid for itself in 8 days</li>
      </ul>
      <h3>How I did it</h3>
      <ul>
        <li>Four months of research, relationship-building, and strategy</li>
        <li>Two months of design with trusted friends</li>
        <li>Appropriate budget for the project</li>
        <li>Focused and participatory client partners</li>
      </ul>
    </section>
    <section id="thought-feeder">
      <h2>Thought Feeder Podcast (2020-2023)</h2>
      <p>When the COVID-19 pandemic hit, I started a podcast with my friend Jon-Stephen Stansel. We discuss marketing, UX, and other digital issues with professionals across various sectors. While the show has a higher education focus, we tried to show how all digital industries overlap in the challenges they face.</p>
      <h3>Selected Episodes</h3>
      <ul>
        <li><a href="https://thoughtfeederpod.com/podcast/episode-16-authentically-marketing-inclusivity-in-higher-ed/">Authentically Marketing Inclusivity in Higher Ed</a> with Dr. Allen Thomas</li>
        <li><a href="https://thoughtfeederpod.com/podcast/episode-3-social-listening-in-a-crisis/">Social Listening in a Crisis</a> with Dr. Liz Gross</li>
        <li><a href="https://thoughtfeederpod.com/podcast/how-to-excel-on-social-in-2023-with-codi-dantu-johnson/">How To Excel on Social in 2023</a> with Codi Dantu-Johnson</li>
      </ul>
    </section>
    <section id="bravery">
      <h2>Bravery Media Awareness (2022-2023)</h2>
      <p>In 2022, I hired two full-time employees after running Bravery for ten years with contractors. With our new Director of Marketing, Carl Gratiot, we began digging into louder, youthful visual styles and producing a lot more media.</p>
      <h3>Higher Ed Hot Takes</h3>
      <section class="videos">
        {% yt "https://www.youtube.com/watch?v=H7C8PQWzOTA", "Social Marketing ain't that Social" %}
        {% yt "https://www.youtube.com/watch?v=YtdB_Z0CX8w", "Is your university website useless?" %}
      </section>
      <h3>Appendix B Podcast</h3>
      <p>The Bravery team and I noticed a need for short-form podcasts for higher education marketing professionals, so we produced one. Appendix B consists of candid conversations about the state of higher ed marketing that are right around 10 minutes in length.</p>
      <p><a href="https://podcasts.apple.com/us/podcast/appendix-b/id1672064420" title="Appendix B on Apple Podcasts">Subscribe on Apple Podcasts</a></p>
    </section>
    <section id="anti-melt">
      <h2>Loyola Marymount University (2018)</h2>
      <p>I redesigned and built (with developer help) an accepted student portal integrated with LMU’s Slate CRM.</p>
      <ul>
        <li>Effectively eliminated summer melt</li>
        <li>Strengthened new student affinity with the university</li>
        <li>Automated work for LMU admissions staff</li>
      </ul>
      <h3>How I did it</h3>
      <ul>
        <li>UX research and process mapping</li>
        <li>Defining user journeys and identifying friction points</li>
        <li>Human-centric UX design</li>
        <li>Collaboration across multiple university departments</li>
      </ul>
    </section>
    <section id="greenville">
      <h2>Greenville University (2019-2021)</h2>
      <p>I started offering website auditing services through Bravery in 2018. My undergrad alma mater hired me to do an initial audit in 2019 and an additional capstone audit after they implemented our recommendations.</p>
      <ul>
        <li>400% conversion rate increase year-over-year</li>
        <li>Improved website accessibility</li>
      </ul>
      <h3>How I did it</h3>
      <ul>
        <li>UX research and technical auditing</li>
        <li>Recommendations based on actual data, not just best practices</li>
      </ul>
    </section>
    <section id="writing">
      <h2>Writing, etc.</h2>
      <ul>
        <li><a href="/letters/experience-design-higher-ed/">Reckoning experience design in higher ed</a></li>
        <li><a href="/assets/media/goodman-ofs-thesis.pdf">Our Foreign Selves: Mapping Transnational Media in a Real-time World [PDF]</a> - Graduate Thesis, M.A. in Media Studies, The New School</li>
        <li><a href="/letters/working-harder-not-smarter/">Working harder, not smarter</a></li>
        <li><a href="https://bravery.co/insight/hospitable-design-framework/">Hospitable Design</a></li>
        <li><a href="https://www.amazon.com/dp/B00BPG5AWG">Social Works: How #HigherEd Uses #SocialMedia to Raise Money, Build Awareness, Recruit Students and Get Results</a> - Chapter Contributor</li>
      </ul>
    </section>
    <section id="speaking">
      <h2>Presentations, Keynotes, and Teaching</h2>
      <p>I’m a born teacher, it seems. Whether speaking at conferences, teaching college courses, or jumping on a podcast, I am energized by sharing what I know with others and always learn something new in return.</p>
      <p><a href="/speaking/">Check out the full record of my speaking gigs</a></p>

      <h3>Some Favorites</h3>
      <div class="decks">
        <script defer class="speakerdeck-embed" data-id="9fc607d402434819a8edfb6c7c07f303" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>

        <script defer class="speakerdeck-embed" data-id="f53340ad14e74c599e06d5421b89ba67" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>

        <script defer class="speakerdeck-embed" data-id="60e208459e0b4194893fc8236f642d8d" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>

        <script defer class="speakerdeck-embed" data-id="57b1db98083e43cb81ec4a9b4281fa81" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>

        <script defer class="speakerdeck-embed" data-id="ded65ec0124f0131e2504a1c325d810d" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
      </div>
    </section>
  </article>