---
layout: layouts/base.njk
section: home
title: Life Excerpts
---
<section class="greeting">
  <h1 class="super">Hello, my name <br>is Joel Goodman.</h1>
  <article>
    <p>I am a product-minded digital strategist, marketer, and designer with nearly 18 years of experience. My work is framed by <a href="https://bravery.co/insight/hospitable-design-framework/">hospitable design</a> practices and put into practice at <a href="https://bravery.co/?utm_source=jgg">Bravery Media</a>, the higher education-focused digital studio I founded in 2012. I <a href="{{'/speaking/' | url }}">speak and write</a> about hospitable design, conversion rate optimization, UX research, digital strategy, and front-end development tools.
  </article>
  {% include "components/form.njk" %}
</section>
