---
title: Speaking Engagements / Joel G Goodman
layout: layouts/base.njk
section: speaking
slug: speaking
---
  {% set cover = "conferences/ggrgt.jpg" %}
    <figure class="post-cover">
      <img
        sizes="(max-width: 1720px) 100vw, 1720px"
        srcset="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_300'}}/{{ cover }} 380w,
        {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_400'}}/{{ cover }} 480w,
        {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_800'}}/{{ cover }} 860w"
        src="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_150,e_blur:800'}}/{{ cover }}"
        alt="Speaking with friends during the Aggregate conference"
        decoding="async"
        loading="eager" width="450" height="290" />
        <figcaption><p>Speaking with conference presenters at Aggregate Conference</p></figcaption>
    </figure>
    <header>
      <h1 class="super">Speaking Engagements</h1>
      <p>That undergrad Communication degree really came in handy when I started speaking at conferences in 2011. From Portland, OR to London, UK, my presentations and worskhops have ranged from a deep dive into Sass to how to draw inspiration for better higher ed web design.<p>
    </header>
  <section class="events-list">
    <div class="event-group">
      {% set cover = "conferences/heweb-sketch.jpg" %}
      <figure class="conference">
        <img
          sizes="(max-width: 1720px) 100vw, 1720px"
          srcset="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_300'}}/{{ cover }} 380w,
          {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_400'}}/{{ cover }} 480w,
          {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_800'}}/{{ cover }} 860w"
          src="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_150,e_blur:800'}}/{{ cover }}"
          alt="Me sitting, leading a design workshop in a conference room."
          decoding="async"
          loading="lazy" width="450" height="290" />
          <figcaption><p>Leading a design workshop in Memphis.</p></figcaption>
      </figure>
      <section class="events-2021">
        <article class="event">
          <h2>Workshop: FYI CRO ROI FTW</h2>
          <p><time class="byline-meta-date">Jun 2024</time> - <a href="https://taccm.clubexpress.com/content.aspx?page_id=22&club_id=647708&module_id=614705">Texas Association of Community College Marketers - Austin, TX</a></p>
        </article>
        <article class="event">
          <h2>Workshop: FYI CRO ROI FTW</h2>
          <p><time class="byline-meta-date">Oct 2023</time> - <a href="https://2023.highedweb.org">HighEdWeb Buffalo, NY</a></p>
        </article>
        <article class="event">
          <h2>Personalization and Hospitable Design</h2>
          <p><time class="byline-meta-date">Oct 2022</time> - <a href="https://2022.highedweb.org">HighEdWeb Little Rock</a></p>
        </article>
        <article class="event">
          <h2>Hospitable Design: A framework for user care</h2>
          <p><time class="byline-meta-date">Jul 2022</time> - <a href="https://pseweb.ca">PSEWEB Montreal</a> - Keynote</p>
        </article>
        <article class="event">
          <h2>Live podcast recording</h2>
          <p><time class="byline-meta-date">Jun 2021</time> - <a href="https://alldayallnight.social">All Day All Night Conference</a></p>
        </article>
        <article class="event">
          <h2>Panel: Break into freelancing in higher education</h2>
          <p><time class="byline-meta-date">Apr 2021</time> - <a href="https://asja.org/For-Writers/ASJA-Events">American Society of Journalists and Authors Writer's Conference</a></p>
        </article>
      </section>
      <section class="events-2019">
        <article class="event">
          <h2>Redesigning a university website for results</h2>
          <p><time class="byline-meta-date">Jul 2019</time> - <a href="https://www.youtube.com/watch?v=vwZNGUE_pvE">WP Campus Portland</a></p>
        </article>
      </section>
      <section class="events-2018">
        <article class="event">
          <h2>Engaging accepted student through WordPress</h2>
          <p><time class="byline-meta-date">Jul 2018</time> - <a href="https://www.youtube.com/watch?v=CDcrVwK8oso">WP Campus St. Louis</a></p>
        </article>
        <article class="event">
          <h2>Content-first design: What does it really mean and how can it enhance the audience experience?</h2>
          <p><time class="byline-meta-date">Jun 2018</time> - <a href="https://speakerdeck.com/joelgoodman/content-first-design-what-does-it-really-mean-and-how-can-it-enhance-the-audience-experience">ContentEd London</a></p>
        </article>
      </section>
    </div>
    <div class="event-group">
      {% set cover = "conferences/heweb4.jpg" %}
      <figure class="conference alt">
        <img
          sizes="(max-width: 1720px) 100vw, 1720px"
          srcset="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_300'}}/{{ cover }} 380w,
          {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_400'}}/{{ cover }} 480w,
          {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_800'}}/{{ cover }} 860w"
          src="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_150,e_blur:800'}}/{{ cover }}"
          alt="Me speaking at a conference with my arms wide."
          decoding="async"
          loading="lazy" width="450" height="290" />
          <figcaption><p>Speaking at HighEdWeb in Milwaukee.</p></figcaption>
      </figure>
    <section class="events-2017">
      <article class="event">
        <h2>A syntactically awesome deep dive into Sass</h2>
        <p><time class="byline-meta-date">Oct 2017</time> - <a href="https://2017.highedweb.org/schedule/#WRK1">HighEdWeb Hartford</a></p>
      </article>
    </section>
    <section class="events-2016">
      <article class="event">
        <h2>Sketch for wireframing and responsive web design</h2>
        <p><time class="byline-meta-date">Oct 2016</time> - <a href="https://2016reg.highedweb.org/workshops/detail/c1a7eacd-d25f-4569-b81c-640d751c1f72">HighEdWeb Memphis</a></p>
      </article>
      <article class="event">
        <h2>Building an effective creative team</h2>
        <p><time class="byline-meta-date">Jun 2016</time> - <a href="https://speakerdeck.com/joelgoodman/building-an-effective-creative-team">Penn State Web Conference</a></p>
      </article>
      <article class="event">
        <h2>Design freedom: Becoming data-informed, not data-controlled</h2>
        <p><time class="byline-meta-date">Jun 2016</time> - <a href="https://speakerdeck.com/joelgoodman/design-freedom-becoming-data-informed-not-data-controlled">Penn State Web Conference</a></p>
      </article>
      <article class="event">
        <h2>Freelancing 101</h2>
        <p><time class="byline-meta-date">Feb 2016</time> - <a href="https://generalassemb.ly/education/fresh2design-ga-present-freelancing-101/austin">General Assembly Austin</a></p>
      </article>
    </section>
    <section class="events-2015">
      <article class="event">
        <h2>The content strategist's guide to design: Holistic thinking for better content</h2>
        <p><time class="byline-meta-date">Oct 2015</time> - <a href="https://www.slideshare.net/joelgoodman/content-strategists-guide-to-design">HighEdWeb Milwaukee</a></p>
      </article>
      <article class="event">
        <h2>Branding yourself as an expert</h2>
        <p><time class="byline-meta-date">Jun 2015</time> - <a href="https://speakerdeck.com/joelgoodman/branding-yourself-as-an-expert">Freelance Spark Austin</a></p>
      </article>
      <article class="event">
        <h2>Typography matters</h2>
        <p><time class="byline-meta-date">Jun 2015</time> - <a href="https://speakerdeck.com/joelgoodman/typography-matters">Penn State Web Conference</a></p>
      </article>
      <article class="event">
        <h2>Training: Sass master class</h2>
        <p><time class="byline-meta-date">May 2015</time> - Cornell School of Hotel Administration</p>
      </article>
    </section>
    </div>
    <div class="event-group">
      {% set cover = "conferences/heweb5.jpg" %}
      <figure class="conference">
        <img
          sizes="(max-width: 1720px) 100vw, 1720px"
          srcset="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_300'}}/{{ cover }} 380w,
          {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_400'}}/{{ cover }} 480w,
          {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_800'}}/{{ cover }} 860w"
          src="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_150,e_blur:800'}}/{{ cover }}"
          alt="Me speaking at a conference but my arms are raised at 90 degree angles like I'm doing the chicken dance."
          decoding="async"
          loading="lazy" width="450" height="290" />
          <figcaption><p>Am I doing the Chicken Dance?</p></figcaption>
      </figure>
      <section class="events-2014">
        <article class="event">
          <h2>Keynote: Hustle is hope</h2>
          <p><time class="byline-meta-date">Sep 2014</time> - <a href="https://speakerdeck.com/joelgoodman/hustle-is-hope">Aggregate Conference Louisville</a></p>
        </article>
        <article class="event">
          <h2>Change the future: Borrowing ideas, design, and strategy from beyond academia</h2>
          <p><time class="byline-meta-date">Jun 2014</time> - <a href="https://speakerdeck.com/joelgoodman/change-the-future">Penn State Web Conference</a></p>
        </article>
        <article class="event">
          <h2>Typography matters</h2>
          <p><time class="byline-meta-date">Apr 2014</time> - <a href="https://speakerdeck.com/joelgoodman/typography-matters">WordCamp Austin</a></p>
        </article>
      </section>
      <section class="events-2013">
        <article class="event">
          <h2>Study abroad: Borrowing ideas, design, and strategy from beyond academia</h2>
          <p><time class="byline-meta-date">Oct 2013</time> - <a href="https://speakerdeck.com/joelgoodman/study-abroad-borrowing-ideas-design-and-strategy-from-beyond-the-walls-of-academia">HighEdWeb Buffalo</a></p>
        </article>
        <article class="event">
          <h2>We are what they see: Interpersonal user experience</h2>
          <p><time class="byline-meta-date">Jun 2013</time> - <a href="https://speakerdeck.com/joelgoodman/we-are-what-they-see-interpersonal-user-experience">Penn State Web Conference</a></p>
        </article>
        <article class="event">
          <h2>jQuery for WordPress theme developers</h2>
          <p><time class="byline-meta-date">Jun 2013</time> - <a href="https://speakerdeck.com/joelgoodman/jquery-for-wordpress-theme-designers">WP Summit</a></p>
        </article>
        <article class="event">
          <h2>jQuery for WordPress theme developers</h2>
          <p><time class="byline-meta-date">May 2013</time> - <a href="https://speakerdeck.com/joelgoodman/jquery-for-wordpress-theme-designers">WordCamp Austin</a></p>
        </article>
      </section>
      <section class="events-2012">
        <article class="event">
          <h2>All in the game</h2>
          <p><time class="byline-meta-date">Oct 2012</time> - <a href="https://speakerdeck.com/joelgoodman/all-in-the-game-mobilizing-your-campus-transmedia">HighEdWeb Milwaukee</a></p>
        </article>
      </section>
    </div>
  </section>