---
layout: layouts/base.njk
section: subscribed
eleventyExcludeFromCollections: true
---
<section class="greeting">
  <h1 class="super">You're subscribed!</h1>
  <article>
    <p>Thanks a bunch for subscribing. I try to send out letters regularly but sometimes I just get busy. If you miss me at any point, you can find me on <a href="http://twitter.com/joelgoodman">Twitter</a>, <a href="http://linkedin.com/in/joelgoodman">LinkedIn</a>, and  <a href="http://instagram.com/joelgoodman">Instagram</a>.<p>
  </article>
</section>
