  <section class="closer">
    <article class="callout">
      <a href="https://bravery.co/podcast/?utm_source=jgg">
        {% include "svg/appendix-b.svg" %}
      </a>
      <div>
      <h2>Listen to Appendix B</h2>
      <p>No one needs another higehr ed interview podcast! Bravery Media brings you short candid conversations about the industry's most pressing marketing challenges. Each episode is around ten minutes and perfect over coffee or that run you always seem to put off. Subscribe wherever you get your podcasts.<p>
      <a href="https://bravery.co/podcast/?utm_source=jgg" title="Listen to Appendix B" class="button">Listen</a>
      </div>
    </article>
  </section>