<p class="subscribe-message">I try to send new letters out once a week. Subscribe to get my latest thoughts in your inbox.</p>
<form class="subscribe" name="subscribe" method="POST" data-netlify="true">
  <input type="email" name="email" placeholder="Your best email" required="true"/>
  <button type="submit">Subscribe</button>
  <div class="message-success">
      <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
  </div>
  <div class="message-error">
      Please enter a valid email address!
  </div>
</form>