<section id="post-panel">
  <button class="toggle-menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-menu"><title>menu</title><g stroke-linecap="round" stroke-linejoin="round" transform="translate(0.5 0.5)" stroke="currentColor"><line fill="none" stroke-miterlimit="10" x1="1" y1="12" x2="23" y2="12" class="middle"></line> <line fill="none" stroke="currentColor" stroke-miterlimit="10" x1="12" y1="5" x2="23" y2="5" class="first"></line> <line fill="none" stroke="currentColor" stroke-miterlimit="10" x1="1" y1="19" x2="12" y2="19" class="last"></line></g></svg>
    <span class="newsletter-title">The thing is...</span>
  </button>
  <div class="panel-inner">
    <div class="user-tools">
      {% if page.url !== "/" %}
        <a href="{{ "/" | url }}" title="Go back home">&#8592; Back Home</a>
      {% endif %}
    </div>
    <nav class="post-list">
      {% set letters = collections.letter | reverse %}
      {% for letter in letters %}
        <a href="{{ letter.url | url }}" title="Read {{ letter.data.title }}">{{letter.data.title}}</a>
      {% endfor %}
    </nav>
  </div>
</section>
