<nav class="site-menu">
    <a href="/" title="Homepage" class="branding">{% include "svg/goodman-g.svg" %}</a>
    <a href="{{ '/speaking/' | url }}" title="Speaking Engagements">Speaking</a>
    <a href="{{ '/highlights/' | url }}">Career Highlights</a>
</nav>