<section class="post-list">
  {% for post in postslist | reverse %}
    {% set currentyear %}{{post.date | yearDate}}{% endset %}
    {% if currentyear != year %}
      <header id="year-{{currentyear}}">
        <h2 class="year-heading">{{currentyear}}</h2>
      </header>
      {% set year %}{{currentyear}}{% endset %}
    {% endif %}
    <article class="post-link" data-year="{{ post.date | yearDate }}"{% if post.cover_image %} data-cover="{{post.cover_image}}"{% endif %}><a href="{{ post.url | url }}">{% if post.data.title %}
      {{ post.data.title }}
    {% else %}
      Untitled
    {% endif %}</a></article>
  {% endfor %}
</section>
