<section class="closer">
    <article class="callout">
      <a href="https://higheredhottakes.com/?utm_source=jgg">
      <svg viewBox="0 0 102 42" fill="none" xmlns="http://www.w3.org/2000/svg" class="heht-logo" aria-hidden="true">
        <title>HEHT</title>
        <desc>Higher Ed Hot Takes logo</desc>
        <path d="M19.4336 10.7012V17.791H21.8652V10.7012H30.7129V32H21.8652V24.8955H19.4336V32H10.5859V10.7012H19.4336Z" fill="currentColor"/>
        <path d="M33.3848 10.7012H48.4287V16.9414H42.0859V18.582H45.9092V24.1191H42.0859V25.7598H48.4287V32H33.3848V10.7012Z" fill="currentColor"/>
        <path d="M59.8164 10.7012V17.791H62.248V10.7012H71.0957V32H62.248V24.8955H59.8164V32H50.9688V10.7012H59.8164Z" fill="currentColor"/>
        <path d="M73.5479 18.7285V10.7012H91.624V18.7285H87.0537V32H78.1182V18.7285H73.5479Z" fill="currentColor"/>
      </svg>
      </a>
      <div>
      <h2>Higher Ed Hot Takes</h2>
      <p>A show about higher education's biggest challenges — from marketing and web strategy to enrollment and institutional culture. New episodes drop regularly.</p>
      <a href="https://higheredhottakes.com?utm_source=jgg" title="Watch Higher Ed Hot Takes" class="button">Watch</a>
      </div>
    </article>
  </section>