html {
    background-color: var(--g-color--bg);
    color: var(--g-color--base);
    height: 100%;
}
body {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
a, a:visited {
    color: var(--g-color--base);
    position: relative;
    transition: all var(--t-timing) var(--t-effect);
    text-decoration-thickness: 0.2em;
    text-decoration-color: var(--g-color--accent);
    text-underline-offset: -.04em;
    &:hover {
        text-decoration-color: var(--state-hover);
    }
}
figure {
    position: relative;
    img {
        height: auto;
        width: 100%;
        border-radius: 25px;
    }
}