.event {
    grid-column: 1 / 4;
    > h2 {
        margin-left: 1em;
        max-width: 500px;
    }
    p {
        @extend h2;
        font-size: 1em;
        order: 1 !important;
        margin-left: 0;
        margin-bottom: 0.25em;
        a {
            display: inline;
        }
    }
    &.alt {
        grid-column: 3 / 6;
    }
}

// Conference images
.speaking {
    header {
        margin-bottom: calc( var(--grid-unit) * 6 );
    }
    .post-cover {
        transform: rotate(-2deg);
    }
}
.conference {
    transform: rotate(2deg);
    grid-row: auto / auto;
    grid-column: 4 / 6;
    margin-bottom: calc( var(--grid-unit) * 7 );
    @include mq(sm) {
        max-width: 45vw;
        margin-left: auto;
        margin-right: auto;
    }
    @include mq(lg) {
        max-width: none;
        margin-left: unset;
        margin-right: unset;
    }
    &.alt {
        grid-column: 1 / 3;
        transform: rotate(-2deg);
    }
    &, .post-cover {
        img {
            z-index: 1;
        }
    }
    &:nth-of-type(2) {
        grid-row: 9 / 13;
    }
    &:nth-of-type(3) {
        grid-row: 15 / 19;
    }
    &:nth-of-type(4) {
        grid-row: 21 / 25;
    }
}

.closer .callout {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: var(--gutter-lg);
    svg {
        width: 125px;
        height: 125px;
        margin: 0 auto;
    }
    h2, p, a {
        color: inherit;
    }
    h2 {
        margin-top: 1.5em;
    }
    p {
        margin: 0.5em 0 1em;
    }
    a {
        font-size: 1.15em;
    }
    @include mq(sm) {
        width: 100%;
        max-width: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--gutter-md);
        svg {
            flex: none;
            width: 150px;
            height: 150px;
            margin: 0;
        }
        div {
            flex: 1 auto;
        }
    }
    @include mq(md) {
        padding-right: calc(var(--gutter-lg) + 96px );
    }
    @include mq(lg) {
        max-width: 100%;
        padding-right: 20vw;
        padding-left: 20vw;
    }
}