.greeting {
  padding-block-end: 6.5vh;
  max-inline-size: 550px;
  @media (min-width: 768px) {
    padding-block: 6.5vh;
    padding-inline: var(--space-md) 10vw;
  }
  @media (min-width: 1024px) {
    padding-inline-start: 0;
    max-inline-size: 720px;
    padding-inline: var(--space-md) 0;
  }
  .home & {
    .super {
      @media (min-width: 768px) {
        max-inline-size: 505px;
      }
    }
  }
}

.home main {
  @media (min-width: 1024px) {
    min-block-size: 100vh;
    align-items: center;
  }
}
