main {
  padding: calc(var(--grid-unit) * 3) var(--gutter-sm)
    calc(var(--grid-unit) * 8);
  @include mq(sm) {
    padding: calc(var(--grid-unit) * 8) var(--gutter-sm) var(--gutter-sm);
  }
  @include mq(md) {
    width: 66vw;
    padding-left: 10vw;
    padding-right: 0;
  }
  @include mq(lg) {
    margin-left: 0;
    .post & {
      display: grid;
      grid-template-columns: 40% 60%;
      column-gap: calc(var(--grid-unit) * 4);
      width: 80vw;
      align-items: start;
      padding-left: calc(var(--grid-unit) * 12);
      .post-cover {
        grid-column: 1;
        position: sticky;
        top: calc(var(--grid-unit) * 8);
      }
      .post-body,
      .callout,
      .webmentions {
        grid-column: 2;
      }
      .post-body {
        padding-top: 20vh;
      }
    }
    .speaking &,
    .highlights & {
      display: flex;
      gap: calc(var(--grid-unit) * 6);
      width: 80vw;
      align-items: center;
      padding-left: calc(var(--grid-unit) * 24);
      padding-top: calc(var(--grid-unit) * 15);
      align-items: flex-start;
      p {
        max-width: 590px;
      }
      article {
        order: 1;
        flex: 2 auto;
      }
      .post-cover {
        order: 2;
        flex: 1 40%;
      }
    }
  }
}

.event {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--grid-unit) * 4);
  p {
    order: 1;
  }
  h2 {
    order: 2;
  }
  @include mq(lg) {
    margin-bottom: calc(var(--grid-unit) * 6);
  }
}

.videos {
  display: flex;
  gap: calc(var(--grid-unit) * 3);
  > * {
    aspect-ratio: 16 / 9;
  }
}
.highlights {
  article {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-unit) * 6);
    > section {
      display: flex;
      flex-direction: column;
      gap: calc(var(--grid-unit) * 4);
      margin: 0;
      ul,
      p {
        margin: 0;
      }
    }
  }
  .post-cover {
    transform: rotate(2deg);
    position: sticky;
    top: calc(var(--grid-unit) * 15);
  }
}