h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  color: var(--g-color--base);
  line-height: 1.15;
}

h1 {
  font-family: var(--font-heading);
  font-size: 1.778em;
  @include mq(md) {
    font-size: 2.488em;
  }
  &.super {
    font-size: clamp(2.8em, calc(1rem + 6.73vw), 4.3em);
    line-height: 1;
  }
}

h2 {
  font-size: 1.64em;
  font-weight: 650;
}
h3 {
  font-size: 1.2em;
  font-weight: 550;
}

.subhead {
  font-size: 1em;
  font-weight: 200;
  @include mq(md) {
    font-size: 1.2em;
  }
}

main p {
  margin-top: 1.25em;
  line-height: 1.43;
  font-weight: 350;
  letter-spacing: 0.015em;
  &.subhead {
    margin: 0.5em 0;
    color: var(--g-color--body);
    font-style: italic;
  }
}
b,
strong {
  font-weight: 600;
}
%small-text {
  font-size: 0.833em;
}
%tiny-text {
  font-size: 0.694em;
}
li {
  margin-bottom: 0.75em;
  font-size: 1em;
}
