<!doctype html>
<html lang="{{metadata.lang}}" dir="ltr"{% if templateClass %} class="{{ templateClass }}"{% endif %}>

{% include "components/head.njk" %}

<body{% if section %} class="{{ section }}"{% else %} class="post"{% endif %}>
  <a href="#main-content" class="skip-link">Skip to main content</a>
  {% include "components/nav.njk" %}
  <main id="main-content">
    {{ content | safe }}
  </main>
  {% if page.url === "/" %}
    <figure class="home-cover">
      <img src="https://res-4.cloudinary.com/joelgoodman/image/upload/dpr_auto,f_auto,q_90,w_auto/v1/ghost/home-bg.jpg" alt="Silouetted person looking out from an observatory across a hazy city with rolling hills." decoding="async" width="480" height="900">
    </figure>
  {% elseif page.url === "/speaking/" %}
    {% include "components/tf.njk" %}
  {% endif %}

  {% include "components/social.njk" %}
  {% include "components/now-playing.njk" %}
  {% include "components/menu.njk" %}
  {% set js %}
    {% include "assets/js/jgg.js" %}
  {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
  {% set npjs %}
    {% include "assets/js/now-playing.js" %}
  {% endset %}
  <script>
    {{ npjs | jsmin | safe }}
  </script>
</body>

</html>
