---
title: "You're looking at all of my posts."
layout: layouts/base.njk
section: posts
permalink: /posts/
templateClass: posts
---
<header>
  {{ layoutContent | safe }}
  {{sitetools.unsplashkey}}
</header>
<main class="site-main">
  {% set taglist = collections.tags %}
  <nav class="tag-nav">
    {% include "components/tagnav.njk" %}
  </nav>

  {% set year = "" %}
	{% set currentyear = "" %}
  {% set postslist = collections.posts %}
  {% include "components/postslist.njk" %}
</main>
