---
title: Hello, my name is Joel Goodman.
description: Joel Goodman is a web designer, developer, and strategist based in Austin, TX. He works primarily with universities.
layout: layouts/base.njk
templateClass: home
cover_image: griffith_jg.jpg
---
<main id="main-stage">
  {{ content | safe }}
</main>
