---
layout: layouts/base.njk
---

{% if cover.image %}
  <figure class="post-cover">
    <img
      sizes="(max-width: 1720px) 100vw, 1720px"
      srcset="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_300'}}/{{ cover.image }} 380w,
      {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_400'}}/{{ cover.image }} 480w,
      {{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_800'}}/{{ cover.image }} 860w"
      src="{{ metadata.cloudinary.prefix }}/{{metadata.cloudinary.ops + ',w_150,e_blur:800'}}/{{ cover.image }}"
      alt="{{ cover.alt }}"
      decoding="async"
      loading="lazy" width="450" height="290" />
  </figure>
{% endif %}
<section class="post-body">
  <header>
    <h1>{{ title }}</h1>
    <p class="subhead">{{ excerpt }}</p>
    <span class="post-meta">Joel Goodman / <time class="byline-meta-date" datetime="{{ date_published | htmlDateString }}">{{ date_published | readableDate }}</time> / {{ content | readingTime }} read</span>
  </header>
  <article>
    {{ layoutContent | safe }}
  </article>
</section>
{% include "components/callout.njk" %}