---
layout: layouts/base.njk
---

{% if cover.image %}
  <figure class="post-cover">
    <img
      src="/assets/img/{{ cover.image }}"
      alt="{{ cover.alt }}"
      width="450" height="290" />
  </figure>
{% endif %}
<section class="post-body">
  <header>
    <h1>{{ title }}</h1>
    <p class="subhead">{{ excerpt }}</p>
    <span class="post-meta">Joel Goodman / <time class="byline-meta-date" datetime="{{ date_published | htmlDateString }}">{{ date_published | readableDate }}</time> / {{ content | readingTime }} read</span>
  </header>
  <article>
    {{ content | safe }}
  </article>
</section>
{% include "components/post-nav.njk" %}
